/* CSSコード */
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.contents {
	padding-top: 16rem;
}

.contents_innner {
    padding-top: 16rem;
    margin-top:-16rem;
}

h1 {
    font-family: 'Caveat', cursive;
    font-weight: bold;

    background-color: white;
    margin: 0;
}

h1 > img {
    width: 80%;
    height: auto;
}

header {

    
    /* position: fixed;
    height: 3rem; */
}

nav {
    /* position: fixed; */
    top: 3rem; 
}

main {
    margin-top: 10rem;
    font-family: "Hannari";
}

img {
    width: 100%; height: auto;
}

ul {
    list-style:none;
}

span.dan {
    float:left;
}

span.dan2 {
    display: block;
    margin-left: 110px;
}